<script>
const
    range = document.getElementById('range'),
    rangeV = document.getElementById('rangeV'),
    setValue = ()=>{
        const
            newValue = Number( (range.value - range.min) * 100 / (range.max - range.min) ),
            newPosition = 10 - (newValue * 0.2);
        rangeV.innerHTML = `<span>${range.value}</span>`;
        rangeV.style.left = `calc(${newValue}% + (${newPosition}px))`;
    };
document.addEventListener("DOMContentLoaded", setValue);
range.addEventListener('input', setValue);

</script>

<div class="wrapper" [hidden]="hasDisplayedData">
  <div class="file-upload">
    <input #fileInput type="file" accept=".csv" (change)="handleFileInput($event.target.files)" />
    <i class="fa fa-line-chart"></i>
  </div>
</div>

<app-google-charts (scrolled)="scrollHandler()" [changing]="updateCharts" [compare]="compareData" [clear]="clearCharts"
  [error]="errorData" [filters]="updateFilters" [events]="eventData" [patterns]="errorPatterns">
</app-google-charts>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="filter-modal">Filter options</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <ng-select [items]="countries" bindLabel="code" bindValue="code" [multiple]="true" [closeOnSelect]="false"
      placeholder="Select countries" [(ngModel)]="selectedCountryIds">
    </ng-select>
  </div>

  <br>

  <div>
    <ng-select [items]="devices" bindLabel="name" bindValue="id" [multiple]="false" placeholder="Select a device"
      [(ngModel)]="selectedDeviceId">
    </ng-select>
  </div>

  <br>

  <div>
    <ng-select [items]="timePeriods" bindLabel="name" bindValue="id" [multiple]="false"
      placeholder="Select a time period" [(ngModel)]="selectedTimePeriodId">
    </ng-select>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">

        <label for="from_timestamp">From</label>
        <div class="input-group">
          <input id="from_timestamp" class="form-control" [(ngModel)]="fromDate" placeholder="yyyy-mm-dd" name="dp"
            ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>

        </div>


        <label for="to_timestamp">To</label>
        <div class="input-group">
          <input id="to_timestamp" class="form-control" [(ngModel)]="toDate" placeholder="yyyy-mm-dd" name="dpTo"
            ngbDatepicker #dpTo="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dpTo.toggle()" type="button"></button>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('filter')">Filter</button>
  </div>
</ng-template>




<ng-template #orders let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="order-modal">Sorting options</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>

    <button class="sortbtn" (click)="modal.close('alphabetical')"><i class="fa fa-sort-alpha-desc"></i>
      Alphabetical</button>
    <button class="sortbtn" (click)="modal.close  ('country_significance')"><i class="fa fa-sort-numeric-desc"></i>
      Inventory volume</button>
    <div *ngIf="hasDisplayedErrorData">
      <button class="sortbtn" (click)="modal.close('error_significance')"><i class="fa fa-sort-amount-desc"></i> Error
        significance</button>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
  </div>
</ng-template>

<ng-template #patterns let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="more-modal">Error patterns</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ng5-slider [(value)]="thresholdValue" [options]="thresholdOptions"></ng5-slider>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('find')">Find error patterns</button>
  </div>
</ng-template>

<ng-template #more let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="more-modal">More tools</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <button class="sortbtn" (click)="modal.close('refresh'); refresh()"><i class="fa fa-refresh"></i>
      Start over</button>
    <div class='annot-upload'>
      <input type="file" accept=".csv" (change)="modal.close('events'); handleEventsInput($event.target.files)" />
      <i class="fa fa-calendar"> Add event annotations</i>
    </div>
    <div *ngIf="hasDisplayedErrorData">
    <button class="sortbtn" (click)="modal.close('patterns'); openErrorPatternModal(patterns)"><i
        class="fa fa-puzzle-piece"></i>
      Find error patterns</button>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
  </div>
</ng-template>



<div class="actions" *ngIf="hasDisplayedData">

  <div class="compare">
    <input type="file" accept=".csv" (change)="handleComparisonInput($event.target.files)" />
    <i class="fa fa-balance-scale"></i>
  </div>

  <div class="filter">
    <button class="button" (click)="openFilterModal(content)"></button>
    <i class="fa fa-filter"></i>
  </div>

  <div class="order">
    <button class="button" (click)="openOrderingModal(orders)"></button>
    <i class="fa fa-sort-amount-desc"></i>
  </div>

  <div class="more-tools">
    <button class="button" (click)="openMoreToolsModal(more)"></button>
    <i class="fa fa-ellipsis-v"></i>
  </div>
</div>